#VScode configuration files
.vscode/c_cpp_properties.json
.vscode/settings.json

# Dependencies
node_modules/

# Environment variables (Secrets)
.env
.env.local

# Mac System Files
.DS_Store

# Windows System Files (For your teammates)
Thumbs.db

# Build outputs (Next.js)
.next/
dist/
build/